<!--====== FOOTER PART START ======-->

<section class="footer-area footer-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="footer-logo text-center">
                    <a class="mt-30" href="index.html"><img src="assets/images/logo.svg" alt="Logo"></a>
                </div> <!-- footer logo -->
                <ul class="social text-center mt-60">
                    <li><a href="https://facebook.com/"><i class="lni lni-facebook-filled"></i></a></li>
                    <li><a href="https://twitter.com/"><i class="lni lni-twitter-original"></i></a></li>
                    <li><a href="https://instagram.com/"><i class="lni lni-instagram-original"></i></a></li>
                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                </ul> <!-- social -->
                <div class="footer-support text-center">
                    <span class="number">+333 789-321-654</span>
                    <span class="mail">support@tunos.com</span>
                </div>
                <div class="copyright text-center mt-35">
                    <p class="text">&nbsp;&copy; Centennial College Comp229 Group #7 Work <br>
                        Designed by <a href="https://uideck.com" rel="nofollow">UIdeck</a> 
                        and Built-with <a rel="nofollow" href="https://ayroui.com">Ayro UI</a> </p>
                </div> <!--  copyright -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== FOOTER PART ENDS ======-->
